#two-recruiter {
    .scroll-wrap { padding: 12px; }
    p { margin: 10px 0; }
    h3 { margin-top: 16px; }
    .building-choices label { display: inline-block; width: 180px; padding: 5px; }
    .recruit-plan { border-top: 1px solid #bca475; margin-top: 16px; }
}
